.wd-border-radius-20 {
    border-radius: 20px;
}

.wd-blue-bottom-border {
    border-bottom: 4px rgb(29,161,242) solid;
}

.wd-fg-color-blue {
    color: rgb(29,161,242);
}

.wd-bg-color-blue {
    background-color: rgb(29,161,242);
}

.wd-bg-color-black {
    background-color: black;
}

.wd-fg-color-gray {
    color: gray;
}

.wd-fg-color-gold {
    color: gold;
}

.wd-bg-color-light-gray {
    background-color: rgb(247, 249, 249);
}

.wd-border-x-light-gray {
    border-width: 1px;
    border-left-style: solid;
    border-right-style: solid;
    border-color: rgb(247, 249, 249);
}

div.wd-input-field {
    height: 45px;
    width: 90%;
}


.list-group-item+.list-group-item.active {
    background-color: inherit;
    color: black;
    font-weight: bold;
    border-width: 0;
}

.nav-tabs .nav-link {
    border-width: 0;
    color: gray;
}

.nav-tabs .nav-link.active {
    border-width: 0;
    color: black;
    font-weight: bold;
}

.w-80 {
    width: 80%;
}
